.text{
    /* margin-left: 32rem; */
    padding: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    /* border-radius: 0.3rem; */
    width: 16rem;
    /* border-width: 1rem; */
   }
   .container{
       display: flex;
       justify-content: center;
   }
   @media only screen and (max-width: 500px) { 

    .container{
        display: flex;
        justify-content: center;
    }
    }