.text{
    margin-left: 32rem;
    padding: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.3rem;
    width: 16rem;
    /* border-width: 1rem; */
   }

   @media  (max-width: 731px) {
       .text{
           margin-left: 80px;
           padding: 1rem;
       }
    }