.text{
    /* margin-left: 32rem; */
    padding: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.3rem;
    width: 16rem;
    /* border-width: 1rem; */
   }
/* 
   @media only screen and (max-width: 300px)  { 

       .text{
           margin-left: -30px;
           padding: 1rem;
       }
    } */