.card-list{
    width:85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:40px;
}

@media (min-width: 411px) and (max-width: 731px) { 
    .card-list{
        /* width:50vw; */
        /* margin: 0 auto; */
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:10px;

    }
    }