*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  /* background:  linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  width: auto;
  height: 100rem;
  background-color: black;
 
  /* background: url('./Assets//water.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

}
.textarea{
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: white;
  text-align: center;
  padding-top: 1rem;
  /* margin-top: 1rem; */
}
